<h1>Huffman Tree vizualizer</h1>

<div class="instrucoes"> 
    <h3>Como utilizar a aplicação:</h3>
    <dl>
        <p>Escreva a frase que queira codificar</p>
        <p>Clique em gerar arvore e veja a arvore resultante da frase inserida</p>
    </dl>
</div>

<br>

    
<div style="display: flex; width: 100%; justify-content: space-evenly;">             

    <div class="itemForms">
        <form action="" method="post" id="formulario">
            <div>
                <label for="city__name">
                    Frase:
                    <br />
                    <input type="text" name="city__name" id="nome" [(ngModel)]="frase" required>
                </label>
            </div>
            
            <div>
                <button type="submit" id="submitbtn" (click)="gerarArvore()">Gerar Árvore</button>
            </div>
        </form>
    </div>
    <div>
        <label for="frequencia">Frequencias: </label>
        <ul>
            <li *ngFor="let node of listaNos">{{node.caracter}} - {{node.peso}}</li>
        </ul>

    </div>
</div>    
   <br>
   <hr>

    <div #mynetwork style="display: flex; width: auto; height: 500px;"></div>

